body {
  height: 2000px;
}
#title {
  min-height: 100px;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}
#links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  top: 0;
  position: sticky;
}
